<%- include('./partials/header') %>

<div class="">
    <div class="body-img pt-5">
      <div class="row d-flex justify-content-center pt-5">
        <div class="col-sm-12 col-sm-8 col-md-6 align-items-center mt-5 pt-5">
          <form class="form-inline  my-lg-0" id="SearchForm" action="/search_location" method="POST">
            <input class="form-control-lg mr-sm-2 w-75 h-100 p-3" name="location" type="search" placeholder="Location: Kandivali,.." aria-label="Search">
            <button class="btn btn-xl btn-success h-100" type="submit">Search <i class="fa fa-map-marker" title="Align Justify"></i></button>
          </form>
        </div>
      </div>
    </div>
</div>



<%- include('./partials/footer') %>
