<%- include('./partials/header') %>

 <<div class="container">
   <div class="row">
       <div class="col-sm-12 col-md-6 col-lg-6">
           <div class="card request-status-bg mb-4 py-1  shadow-sm  bg-white rounded">
               <div class="row">
                   <div class="col-sm-4 col-md-4 col-lg-4">
                       <center><img src="https://cdn.icon-icons.com/icons2/2642/PNG/512/google_map_location_logo_icon_159350.png" height="100"/></center>
                       <center class="py-4"><b class="text-danger">  Mumbai</b></center>
                   </div>
                   <div class="col-sm-8 col-md-8 col-lg-8">
                       <p class="card-text mx-1 mt-1"><strong>Owner's name:</strong> Mr. X</p>
                       <p class="card-text mx-1 mt-1"><strong>Parking location:</strong> ABC, Kandivali</p>
                       <p class="card-text mx-1"><strong>Opening time:</strong> 08:00</p>
                       <p class="card-text mx-1"><strong>Closing time:</strong> 22:00</p>
                       <div class="row">
                         <div class="col-5">
                             <p class="card-text mx-1"><strong>Slots available:</strong>
                         </div>
                         <div class="col-2">
                           <form action="#" method="post">
                             <button type="submit" class="btn btn-danger"><i class="fas fa-angle-down"></i>
                           </form>
                         </div>
                         <div class="col-2">
                           <p class="card-text mx-1">10</p>
                         </div>
                         <div class="col-2">
                           <form action="#" method="post">
                             <button type="submit" class="btn btn-success"><i class="fas fa-angle-up"></i>
                           </form>
                         </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>


       <div class="col-sm-12 col-md-6 col-lg-6">
           <div class="card request-status-bg mb-4 py-1  shadow-sm  bg-white rounded">
               <div class="row">
                   <div class="col-sm-4 col-md-4 col-lg-4">
                       <center><img src="https://cdn.icon-icons.com/icons2/2642/PNG/512/google_map_location_logo_icon_159350.png" height="100"/></center>
                       <center class="py-4"><b class="text-danger">  Mumbai</b></center>
                   </div>
                   <div class="col-sm-8 col-md-8 col-lg-8">
                       <p class="card-text mx-1 mt-1"><strong>Owner's name:</strong> Mr. X</p>
                       <p class="card-text mx-1 mt-1"><strong>Parking location:</strong> ABC, Kandivali</p>
                       <p class="card-text mx-1"><strong>Opening time:</strong> 08:00</p>
                       <p class="card-text mx-1"><strong>Closing time:</strong> 22:00</p>
                       <div class="row">
                         <div class="col-5">
                             <p class="card-text mx-1"><strong>Slots available:</strong>
                         </div>
                         <div class="col-2">
                           <form action="#" method="post">
                             <button type="submit" class="btn btn-danger"><i class="fas fa-angle-down"></i>
                           </form>
                         </div>
                         <div class="col-2">
                           <p class="card-text mx-1">10</p>
                         </div>
                         <div class="col-2">
                           <form action="#" method="post">
                             <button type="submit" class="btn btn-success"><i class="fas fa-angle-up"></i>
                           </form>
                         </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>


       <div class="col-sm-12 col-md-6 col-lg-6">
           <div class="card request-status-bg mb-4 py-1  shadow-sm  bg-white rounded">
               <div class="row">
                   <div class="col-sm-4 col-md-4 col-lg-4">
                       <center><img src="https://cdn.icon-icons.com/icons2/2642/PNG/512/google_map_location_logo_icon_159350.png" height="100"/></center>
                       <center class="py-4"><b class="text-danger">  Mumbai</b></center>
                   </div>
                   <div class="col-sm-8 col-md-8 col-lg-8">
                       <p class="card-text mx-1 mt-1"><strong>Owner's name:</strong> Mr. X</p>
                       <p class="card-text mx-1 mt-1"><strong>Parking location:</strong> ABC, Kandivali</p>
                       <p class="card-text mx-1"><strong>Opening time:</strong> 08:00</p>
                       <p class="card-text mx-1"><strong>Closing time:</strong> 22:00</p>
                       <div class="row">
                         <div class="col-5">
                             <p class="card-text mx-1"><strong>Slots available:</strong>
                         </div>
                         <div class="col-2">
                           <form action="#" method="post">
                             <button type="submit" class="btn btn-danger"><i class="fas fa-angle-down"></i>
                           </form>
                         </div>
                         <div class="col-2">
                           <p class="card-text mx-1">10</p>
                         </div>
                         <div class="col-2">
                           <form action="#" method="post">
                             <button type="submit" class="btn btn-success"><i class="fas fa-angle-up"></i>
                           </form>
                         </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>




   </div>
 </div>



<%- include('./partials/footer') %>
